In [7]:
# Syntax
"""
table.pivot('column_for_rows', 'column_for_columns', 'values_column', collect_function)
"""

from datascience import Table
data = Table().with_columns(
    'Student', ['Alice', 'Bob', 'Alice', 'Bob'],
    'Test', ['Midterm', 'Midterm', 'Final', 'Final'],
    'Score', [85, 90, 95, 88]
)

data.show()

1. Columns are the headers: Student, Test, and Score.
2. Rows are the data entries, where each row represents a combination of values across these columns 
    - (e.g., one row is Alice | Midterm | 85).

In [8]:
pivot_table = data.pivot('Student', 'Test', 'Score', sum)
pivot_table.show()

Student becomes rows, Test becomes columns, and Score fills the table. sum is used here, but if there’s only one value per cell, it’s just displayed as-is. Thus the sum call returns values inside the table, just data rather than rows or headers(columns)

__**Pivot is like spreading out your data into a grid to see patterns (how a student performed across tests)**__

### Join Definition

The join method combines two tables based on a shared column (like a key), similar to a database join. It’s typically an inner join by default, **meaning only matching rows are kept**.

How it works:

You specify:
- The column in the first table to match on.
- The second table to join with.
- The column in the second table to match on (if different from the first).
- Rows where the key matches are merged into a single row in the new table.


Syntax
```
table1.join('column_in_table1', table2, 'column_in_table2')
```

In [10]:
students = Table().with_columns(
    'ID', [1, 2, 3],
    'Name', ['Alice', 'Bob', 'Charlie']
)
grades = Table().with_columns(
    'Student_ID', [1, 2, 4],
    'Grade', [85, 90, 88]
)
students.show()
grades.show()

In [11]:
joined_table = students.join('ID', grades, 'Student_ID')
joined_table.show()

- Only Alice and Bob appear because their IDs (1 and 2) match in both tables. Charlie (ID 3) and the grade for ID 4 don’t match, so they’re excluded.


**Join links related data across tables, but only keeps rows where the key exists in both (inner join behavior).**

### Group 
The group method aggregates(sum, avg, count, mean) data by grouping rows based on a column’s values, then applies a function (like sum, count, or mean) to another column. It’s useful for summarizing data by categories.

How it works:

You specify:
- A column to group by (categories).
- An optional aggregation function (default is count, which counts rows per group).
- The result is a new table with one row per unique value in the grouping column, showing the aggregated result.

```
table.group('column_to_group_by', collect_function)
```

In [12]:
from datascience import Table
data = Table().with_columns(
    'Student', ['Alice', 'Bob', 'Alice', 'Bob'],
    'Test', ['Midterm', 'Midterm', 'Final', 'Final'],
    'Score', [85, 90, 95, 88]
)
grouped = data.group('Student', sum)
grouped.show()

In [13]:
counted = data.group('Student')
counted.show()

- Counts how many times each student appears.
- Group summarizes data within categories, reducing the table to one row per unique value with an aggregated result.

# For Anki
- Pivot: Creates a 2D grid (rows × columns) to crosstabulate data.
- Join: Combines two tables side-by-side based on a matching key.
- Group: Collapses rows into summaries based on a single column’s categories.