# Lecture 5

In [1]:
import array # behaviors differently
from datascience import * 
import numpy as np 

make_array(1,2,3) * 2 # outputs array([2, 4, 6]) # element wise multiplication from np.arrary

print('Different Statement:') 
an_array = array.array('i', [1, 2, 3])
different = an_array * 2 
print(different) # array('i', [1, 2, 3, 1, 2, 3]) # sequence repetition is multiplied; similar to lists

print('Np.arange Example:')
make_array(1, 2, 3) + np.arange(start=1, stop=4)
## ([1, 2, 3]) + ([1, 2, 3]) = ([2, 4, 6])

Different Statement:
array('i', [1, 2, 3, 1, 2, 3])
Np.arange Example:

array([2, 4, 6])

### Creating tables

In [2]:

# table_example = Table.read_table('some.csv') # Reading from a file

# Creating from scratch  

workout = make_array('Back', 'Bench', 'Calves', 'Squats') # built in array method 
workout

Table()

In [3]:
mytop_movements = Table().with_column("Must Do's", workout)
mytop_movements

mytop_movements.with_column('Times per week', np.arange(4))

Must Do's | Times per week
Back      | 0
Bench     | 1
Calves    | 2
Squats    | 3

In [4]:
# data science way

Table().with_columns(
    "Must Do's", workout, 
    'Times Per Week', np.arange(4) 
)

Must Do's | Times Per Week
Back      | 0
Bench     | 1
Calves    | 2
Squats    | 3

**How to find number of rows/columns in table, and show data**

In [7]:
number_of_rows = mytop_movements.num_rows
number_of_columns = mytop_movements.num_columns

print('Number of rows: ', number_of_rows)
print('Number of columns: ', number_of_columns)

# showing data
# mytop_movements.take(np.arange(3))
# mytop_movements.take() # similar to table.head()
mytop_movements.show() # shows ALL data
print('Column Headers/Lables: ', mytop_movements.labels)

Number of rows:  4
Number of columns:  1

Column Headers/Lables:  ("Must Do's",)

In [ ]:
recent_curry = nba.where('name', 'Stephen Curry').where('season', are.between_or_equal_to(2016, 2020))
""" .where('column name', 'what to search for').where('column name', <syntax>)"""