# Discussion 3, Spring 2025 Prof Sanchez 
### Sean Villegas 


Readings: 
- [Tables Docs](https://www.data8.org/datascience/tables.html)
- [Tables Chapter](https://inferentialthinking.com/chapters/06/Tables.html)
- [Predicates Docs](https://www.data8.org/datascience/predicates.html#datascience.predicates.are)
- [Sorting Rows Chapter](https://inferentialthinking.com/chapters/06/1/Sorting_Rows.html)

Notes: 
- fiddle with the y axis to tell a story from the data, charting at 0 can not show us the change of relevant baseline, rather than the 0 point. 
- when data goes under zero, you need to show it in some cases
- the metrics for data also matter
- When people lie on graphs, its when they leave out context or some data


**In your opinion, when would be a good time to start the y-axis at 0, and when would be a good time to not
start it at 0?**

- It is good to start the y-axis at 0 when we are analyzing data. 
    - Avoiding misleading visuals especially for bar charts, where the length of the bars represents absolute values
- When you need to show the change in a certain period, then you can change the position of the y-axis, as long as you share relevant context on the data

**In general, what are some considerations we want to take into account when making a data visualization?**
- People can alter data to favor their side, all data needs context 


**Code Is wrong Section**

`tennis.where("Nationality", "United States") / tennis.num_rows`
TypeError: operand types for / Table and int 
Fix:
`tennis.where("Nationality", "United States").num_rows / tennis.num_rows` 
- ensure that the data types match with num_rows 

`tennis.column("Num. Aces") / tennis.select("Matches Played")`
TypeError: input types not supported for 'divide' 
- the issue is that .column creates an array, and the .select creates a table based on the column.
- change it to an array, to get average number of acs hit per match for each player
`tennis.column("Num. Aces") / tennis.column("Matches Played")` 

```
less_aces_players = tennis.where("Num. Aces", are.below("10000"))
less_aces_most_matches = less_aces_players.sort("Matches Played", descending = True).column("Name").item(0)
```
TypeError: ufunc 'less' did not contain a loop with signature matching types (<class 'numpy.dtypes.Int64D Type'>,<class 'numpy.dtypes.StrDType'>) -> None
- change the 1000 to an integer value, and no space between descending=True
```
less_aces_players = tennis.where("Num. Aces", are.below(10000))
less_aces_most_matches = less_aces_players.sort("Matches Played", descending=True).column("Name").item(0)
```

In [8]:
from datascience import * 

%matplotlib inline 
import matplotlib.pyplot as plots

staff = Table().with_columns(
    'Name', make_array('Cai', 'Bing', 'Aileen', 'Richard', 'Brandon', 'Sam'),
    'ID', make_array(18, 7, 4, 8, 5, 0),
    'Hearts per Post', make_array(6.51, 0, 9.13, 0, 0, 16), 
    'Answers', make_array(165, 102, 240, 82, 48, 22),
    'Admin', make_array(True, False, True, False, True, True)
)
staff

Name    | ID   | Hearts per Post | Answers | Admin
Cai     | 18   | 6.51            | 165     | 1
Bing    | 7    | 0               | 102     | 0
Aileen  | 4    | 9.13            | 240     | 1
Richard | 8    | 0               | 82      | 0
Brandon | 5    | 0               | 48      | 1
Sam     | 0    | 16              | 22      | 1

In [18]:
good_staff = staff.where('Admin', True).where('Hearts per Post', are.above_or_equal_to(1))

lucky_staff_name = good_staff.sort('Answers', descending=True).column('Name').item(0)

# good_staff

print(f"Admin with most hearts and answers: {lucky_staff_name}")   # Aileen has the most hears out of everyone

Admin with most hearts and answers: Aileen

In [27]:
seats = Table().with_columns(
    'Email', make_array('sulu@berkeley.edu' , 'mccoy@berkeley.edu', 'kirk@berkeley.edu'),
    'Row', make_array('C', 'A', 'R'),
    'Seat', make_array(102, 3, 110),
    'Date', make_array(20, 18, 20)
)

print(f"The largest amount of seats in the table seats: {max(seats.column('Seat'))}")

The largest amount of seats in the table seats: 110

In [29]:
seats.sort('Seat', descending=True).column('Seat').item(0)

110

In [48]:
filtered_seats = seats.where('Date', are.equal_to(20))
test = filtered_seats.where('Row', are.between('A', 'E')).num_rows

print(f"There is only one row in the table, where the date is the 20th for rows A, B, C, D, E: {test}")

There is only one row in the table, where the date is the 20th for rows A, B, C, D, E: 1