# Review

In [13]:
%matplotlib inline
from datascience import * 

table = Table.read_table('pokemon.csv')

table.show(5)